:root {
  --DiscordBackgroundColor: #36393f;
}
html {
  background-color: var(--DiscordBackgroundColor);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container .logo {
  border-radius: 100%;
}

.container p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 40%;
  font-weight: 600;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.container .powered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.built img {
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #5e5e5e;
  float: left;
}

.built {
  position: absolute;
  top: 62%;
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-360%);
}

.built .rightside {
  padding: 20px;
  position: absolute;
  background-color: black;
  color: white;
  width: max-content;
  left: 61px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.built .rightside span,
.connection .rightside span,
.typings .rightside span {
  font-family: "Inter";
  font-weight: 500;
}

.connection {
  position: absolute;
  top: 71%;
  display: inline;
  left: 50%;
  transform: translateX(-280%);
}

.connection img {
  height: 60px;
  width: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #5e5e5e;
  float: left;
}

.connection .rightside {
  padding: 20px;
  position: absolute;
  background-color: black;
  color: white;
  width: max-content;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  left: 61px;
}

.typings {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-330%);
}

.typings img {
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #5e5e5e;
  float: left;
}

.typings .rightside {
  position: absolute;
  width: max-content;
  background-color: black;
  color: white;
  left: 61px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
